<!DOCTYPE html>
<html>
<head>
	<title>Beg list</title>
  <link rel='icon' href='{$Think.const.IMG_URL}pet.ico' type='image/x-ico' />
  <script src="{$Think.const.JS_URL}jquery.min.js"></script>
  <script src="{$Think.const.JS_URL}beg.js"></script>
  <style type="text/css">
/*页码页表*/
.list_page{
    width: 75%;
    height: 60px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  </style>
</head>
<body>
<!--header-->	
<include file="Public:header" />
<!--//header-->
<!--content-->
<div class="banner-head">
  <div class="banner-1"><input type="hidden" id='page_index' value="1" /></div>
  <div class="container"><h1>Beg list</h1></div>
</div>
<div class="blog">
  <div class="container">
    <div class="blog-top">
      <div class="col-md-9 blog-grid">
        <volist name="beglist" id="beg" key="k" >
        <div class="blog-grid3">
          <div class=" blog-grid1">
            <div class="text-blog">
              <span>{$beg.beg_ymd.day}</span>
              <small>{$beg.beg_ymd.month}<br>{$beg.beg_ymd.year}</small>
              <div class="clearfix"> </div>
            </div>
            <ul>
              <li><a class="heart" onclick="order({$beg.beg.beg_id})"><i class="glyphicon glyphicon-heart"></i></a></li>
            </ul>
          </div>
          <div class=" blog-grid2">
            <a href="__CONTROLLER__/detailBeg/id/{$beg.beg.beg_id}"><img style="width: 700px;" src="{$Think.const.IMG_UPLOAD}{$beg.beg.beg_photo}" class="img-responsive" alt=""></a>
            <div class="blog-text">
              <h5><a href="__CONTROLLER__/detailBeg/id/{$beg.beg.beg_id}">{$beg.beg.beg_title}</a></h5>
              <p>{$beg.beg.beg_notes}</p>           
            </div>
            <a href="__CONTROLLER__/detailBeg/id/{$beg.beg.beg_id}" class="more">Read More</a>
          </div>
          <div class="clearfix"> </div>
        </div></volist>
      </div>
      <div class="col-md-3 categories-grid">
        <div class="search-in">
          <h2>Search {$_SESSION.search_beg_key}</h2>
            <div class="search">
              <form action="__CONTROLLER__/search" method="post">
                <input type="text" name="search_key" value="{$_SESSION.search_beg_key}">
                <input type="submit" value="">
              </form>
            </div>
        </div>
        <div class="grid-categories">
          <h4>Recent Cases</h4>
          <volist name="cases" id="case" key="k" >
          <div class="product-go">
            <a href="__MODULE__/Case/showCase" class="fashion"><img class="img-responsive " src="{$Think.const.IMG_UPLOAD}{$case.case_small_photo}" alt=""></a>
            <div class="grid-product">
              <a href="__MODULE__/Case/showCase" class="elit">{$case.case_title}</a>
              <p>{$case['case_content']}</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          </volist>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="nation">
      <!--页码页表-->
      <div class="list_page">{$pagelist}</div>
      <!--//页码页表-->
    </div>
  </div>
</div>
<!--//content-->
<!--footer-->
<include file="Public:footer" />
<!--//footer-->
</body>
</html> 