<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel='icon' href='{$Think.const.IMG_URL}pet.ico' type='image/x-ico' />
</head>
<body>
<!--header-->	
<include file="Public:header" />
<!--//header-->
<div class="banner">
	<div class="banner-1"><input type="hidden" id='page_index' value="0" /></div>
		<div class="container">
			<div class="banner-top">
				<div class="col-sm-6 head-banner">
					<h1>Lorem <span>&</span> Ipsum</h1>
					<h4>It is a long established fact that a reader</h4>
					
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Latin literature from 45 BC.</p>
				 </div>
				<div class="col-sm-6 banner-head1">
					<img src="{$Think.const.IMG_URL}index_top.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top-top">
		<div class="content-top">
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-cog"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title1}</h5>
					<p>{$index_info.index_text1}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-user"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title2}</h5>
					<p>{$index_info.index_text2}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-time"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title3}</h5>
					<p>{$index_info.index_text3}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="content-top">
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-leaf"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title4}</h5>
					<p>{$index_info.index_text4}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-erase"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title5}</h5>
					<p>{$index_info.index_text5}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-grain"></i>
				</div>	
				<div class="content-text">
					<h5>{$index_info.index_title6}</h5>
					<p>{$index_info.index_text6}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
		<!---->
	</div>
	<!---->
	<div class="content-middle">
		<div class="col-md-6 content-middle1">
			<img src="{$Think.const.IMG_URL}index_about.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-6 content-middle2">
			<h3>About</h3>
			<p>{$index_info.index_about}</p>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!---->
	<div class="events">
		<div class="container">
			<h2>Loving Persons</h2>
			<div class="events-top">
			<volist name="borrowers" id="borrower" offset="0" length='3'>
				<div class="col-sm-4 top-event">
					<a><img width='350px' height="230px" src="{$Think.const.IMG_UPLOAD}{$borrower.borrower_photo}" class="img-responsive" alt=""></a>
					<h4><a>{$borrower.user_firstname} {$borrower.user_lastname}</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>{$borrower.borrower_count}</span>
					<p>{$borrower.borrower_profile}</p>
				</div>
			</volist>
				<div class="clearfix"> </div>
			</div>
			<div class="events-top">
				<volist name="borrowers" id="borrower" offset="3" length='3'>
				<div class="col-sm-4 top-event">
					<a><img width='350px' height="230px" src="{$Think.const.IMG_UPLOAD}{$borrower.borrower_photo}" class="img-responsive" alt=""></a>
					<h4><a>{$borrower.borrower_name}</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>{$borrower.borrower_count}</span>
					<p>{$borrower.borrower_profile}</p>
				</div>
			</volist>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!---->
</div>
<!--footer-->
<include file="Public:footer" />
<!--//footer-->
</body>
</html> 