<!doctype html>
<html lang="en">
<!--head--> 
<include file="Public:head" />
<!--//head-->
<body class=" theme-blue">
  <!--top--> 
  <include file="Public:top" />
  <!--//top-->

  <!--nav-->
  <include file="Public:nav" />
  <!--//nav-->

  <!--content-->
  <div class="content">
    <div class="header"><h1 class="page-title">Contacts</h1></div>
    <div class="main-content">
      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Time</th>
          <th>Subject</th>
          <th>Content</th>
          <th style="width: 3.5em;"></th>
        </tr>
      </thead>
      <tbody>
      <volist name="contactlist" id="contact" key="k" >
        <tr>
          <td>{$k}</td>
          <td>{$contact.contact_name}</td>
          <td>{$contact.contact_email}</td>
          <td>{$contact.contact_time}</td>
          <td>{$contact.contact_subject}</td>
          <td>{$contact.contact_content}</td>
          <td><a href="__CONTROLLER__/delContact/id/{$contact.contact_id}" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a></td>
        </tr>
      </volist>
      </tbody>
      </table>
      <notempty name='backMsg'><div style="color:#ff0000;">{$backMsg}</div></notempty>
      <!--页码-->
      <div class="list_page">{$pagelist}</div>
      <!--//页码-->
    </div>
  </div>
</body></html>